{{ define "main" }}
<article>
  <section id="about">
    <div id="resume">
      <h3>About</h3>
      <p>Hi, my name is <strong>Taufiq</strong>. I am from <strong>Solo, Indonesia</strong>.</p>
      <p><strong>Web</strong> Enthusiast. Love in <strong>Mobile Photographing</strong>. <strong>Content Writer</strong> and <strong>Video Editor</strong>.</p>
      <p>Blogging since 2014.</p>
    </div>
  </section>
  <section id="portofolio">
    {{- partial "gallery.html" . -}}
    {{- partial "work.html" . -}}
  </section>
  <section id="quotes">
    {{- partial "quote.html" . -}}
  </section>
</article>
{{ end }}