<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TaufiqHdyt</title>

  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

</head>

<body>

  <header>
    <section>Logo</section>
  </header>

  <main>
    <section>
      {{ range (where .Pages "Section" "blog") }}
      <article>
        <a href="{{ .RelPermalink }}">
          {{ .Title }}
        </a>
      </article>
      {{ end }}
    </section>
  </main>

  <footer>
    <section>Footer</section>
  </footer>

</body>

</html>